:root{
    --ds-header-background: #add9e7;
    --ds-header-blocks: #dba420;
    --ds-main-background-start: #01008a;
    --ds-main-background-1: #ffffff;
    --ds-main-background-2: #d3d2d2;
    --ds-main-content-start: #ef82ef;
    --ds-main-content-image: #1f90fe;
    --ds-main-content-text: #ffc1ca;
    --ds-main-content-end: #238b23;
    --ds-footer-background: #21130d;
    --ds-footer-left: #f18081;
    --ds-footer-right: #20b3ab;
    --ds-footer-end: #7efed4;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

.row{
    display: flex;
}

[class^="col-"]{
    padding: 0 1rem;
}

.col-1{
    width: calc((100% /12) * 1);
}

.col-2{
    width: calc((100% /12) * 2);
}

.col-3{
    width: calc((100% /12) * 3);
}

.col-4{
    width: calc((100% /12) * 4);
}

.col-5{
    width: calc((100% /12) * 5);
}

.col-6{
    width: calc((100% /12) * 6);
}

.col-7{
    width: calc((100% /12) * 7);
}

.col-8{
    width: calc((100% /12) * 8);
}

.col-9{
    width: calc((100% /12) * 9);
}

.col-10{
    width: calc((100% /12) * 10);
}

.col-11{
    width: calc((100% /12) * 11);
}

.col-12{
    width: calc((100% /12) * 12);
}

/* header */

header{
    height: 50px;
    background-color: var(--ds-header-background);
}

header [class^="col-"]{
    display: flex;
    height: 80%;
    background-color: var(--ds-header-blocks);
    border: 1px dashed black;
    align-items: center;
}

header .row{
    height: 100%;
    align-items: center;
}

header .col-9{
    justify-content: center;
}

header .col-3:last-of-type{
    justify-content: flex-end;
}

/* /header */

/* main */

.main_start{
    height: 300px;
    background-color: var(--ds-main-background-start);
}

.main_start .container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_start > .container > div{
    height: 80%;
    width: 80%;
    background-color: var(--ds-main-content-start);
    border: 1px dashed black;
}

.main_section_1{
    height: 350px;
    background-color: var(--ds-main-background-1);
}

.main_section_1 .container{
    display: flex;
    align-items: center;
}

.main_section_1 .row{
    height: 80%;
    width: 100%;
}

.main_section_1 .col-7{
    background-color: var(--ds-main-content-image);
    border: 1px dashed black;
}

.main_section_1 .col-5{
    background-color: var(--ds-main-content-text);
    border: 1px dashed black;
}

.main_section_2{
    height: 350px;
    background-color: var(--ds-main-background-2);
}

.main_section_2 .container{
    display: flex;
    align-items: center;
}

.main_section_2 .row{
    height: 80%;
    width: 100%;
}

.main_section_2 .col-7{
    background-color: var(--ds-main-content-image);
    border: 1px dashed black;
}

.main_section_2 .col-5{
    background-color: var(--ds-main-content-text);
    border: 1px dashed black;
}

.main_end{
    height: 600px;
    background-color: var(--ds-main-background-2);
}

.main_end .container{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main_end > .container > div{
    height: 80%;
    width: 100%;
    background-color: var(--ds-main-content-end);
    border: 1px dashed black;
}

/* /main */

/* footer */

.footer_link{
    height: 350px;
    background-color: var(--ds-footer-background);
}

.footer_link .container{
    display: flex;
    align-items: center;
}

.footer_link .row{
    height: 80%;
    width: 100%;
}

.footer_link .col-4{
    background-color: var(--ds-footer-left);
    border: 1px dashed black;
}

.footer_link .col-2{
    background-color: var(--ds-footer-right);
    border: 1px dashed black;
}

/* /footer */